<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:include="~{admin/fragment/head::head}"></head>

<body>
<div class="ui-menu-item-wrapper">
    <div th:include="~{admin/fragment/Menu::menu}"></div>

    <div class="container p-4 ">
        <h2>Danh sách tài khoản</h2>
        <div class="mt-3 mb-3">
            <a href="/admin/account/add-account">
                <button type="button" class="btn btn-primary">Thêm tài khoản</button>
            </a>
        </div>

        <table>
            <thead>
            <tr>
                <th>Tên tài khoản</th>
                <th>Quyền</th>
                <th>Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ac:${accounts}">
                <td th:text="${ac.userName}"></td>
                <td th:text="${ac.role}"></td>
                <td th:text="${ac.enabled}==true ? 'Hoạt động' :'Không kích hoạt'"></td>

                <td>
                    <div class="d-flex justify-content-center">
                        <a th:href="@{/admin/account/update-account?accountId=__${ac.accountId}__}">
                            <button class="align-items-center btn btn-primary">Sửa
                            </button>
                        </a>
                    </div>
                </td>
                <td>
                <div class="d-flex justify-content-center">
                    <button class="align-items-center btn btn-danger btn-sm" th:data-accountId="${ac.accountId}"
                            onclick="deleteAccount(this)">
                        <i class="fas fa-trash-alt"></i>Xóa
                    </button>
                </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:src="@{/script/AccountAdminScript.js}">
</script>
</body>
</html>