<!doctype html>
<html lang="en">

<head th:include="~{admin/fragment/head::head}"></head>

<body>
<div class="ui-menu-item-wrapper">

    <div th:include="~{admin/fragment/Menu::menu}"></div>

    <div class="container p-4">

        <h2>THÊM MỚI TÀI KHOẢN</h2>
        <form id="form" th:action="@{/admin/account/update-account}" method="post" th:object="${ac}">
            <div class="row">
                <div class="mb-3">
                    <label for="userName" class="form-label">Tên tài khoản<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="userName" th:field="${account.userName}">
                </div>

                <div class="mb-3">
                    <label th:for="role" class="form-label">Phân quyền<span style="color:red">*</span></label>
                    <select class="form-control" th:id="role" th:field="${account.role}">
                        <option value="">Không có</option>
                        <option th:each="role : ${roles}" th:value="${role}"
                                th:text="${role}" ></option>
                    </select>
                </div>

                <button style="text-align: center" type="button" id="btn-submit" class="col-2 btn btn-primary">Tạo tài khoản</button>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/script/AddAccountScript.js}"></script>
</body>
</html>


