<!doctype html>
<html lang="en">

<head th:include="~{admin/component/head::head}"></head>

<body>
<div class="ui-menu-item-wrapper">
    <div th:include="~{admin/component/Menu::menu}"></div>

    <div class="container p-4">
        <h2>THÊM MỚI SẢN PHẨM</h2>
        <form id="form" th:action="@{/admin/product/add-product}" method="post" th:object="${product}">
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="product-id" class="form-label">Mã sản phẩm<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="product-id" th:field="*{productId}"/>
                    <span id="idError" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label for="pr-name" class="form-label">Tên sản phẩm<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="pr-name" th:field="*{productName}">
                    <span id="nameError" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label for="price" class="form-label">Giá tiền<span>*</span></label>
                    <input type="text" class="form-control" id="price" th:field="*{price}">
                    <span id="priceError" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label th:for="category" class="form-label">Danh mục sản
                        phẩm<span style="color:red">*</span></label>
                    <select th:if="${catId != null}" class="form-control category" th:id="category"
                            th:field="*{category}">
                        <option value="">--Chọn danh mục--</option>
                        <option th:each="cat : ${cat}" th:value="${cat.catId}"
                                th:text="${cat.catName}"
                                th:selected="${cat.catId == catId}">
                        </option>
                    </select>
                    <select th:unless="${catId != null}" class="form-control category" th:id="category"
                            th:field="*{category}">
                        <option value="">--Chọn danh mục--</option>
                        <option th:each="cat : ${cat}" th:value="${cat.catId}"
                                th:text="${cat.catName}">
                        </option>
                    </select>
                    <span id="categoryError" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label for="discount-price" class="form-label">Giá khuyến mãi</label>
                    <input type="text" class="form-control" id="discount-price" th:field="*{discountPrice}">
                    <span id="discountError" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label for="brand" class="form-label">Thương hiệu<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="brand" value="TORANO" th:field="*{brand}">
                    <span id="brandError" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Mô tả</label>
                    <textarea class="form-control" id="description" rows="4" cols="50"
                              th:field="*{description}"></textarea>
                </div>

                <div class="mb-3">
                    <label for="imgSize" class="form-label">Ảnh hướng dẫn chọn size<span
                            style="color:red">*</span></label>
                    <select class="form-control" id="imgSize" th:field="*{imgSize}">
                        <option th:each="img : ${img}" th:value="${img.imgSizeId}"
                                th:text="${img.imgName}"></option>
                    </select>
                </div>


                <button style="text-align: center" type="submit" id="submit" class="col-2 btn btn-primary">Thêm sản
                    phẩm
                </button>
            </div>
        </form>

    </div>
</div>
<script th:src="@{/script/AdminScript/AddProductScript.js}"></script>
</body>
</html>

