<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:include="~{admin/fragment/head::head}"></head>

<body>
<div class="ui-menu-item-wrapper">
    <div th:include="~{admin/fragment/Menu::menu}"></div>

    <div class="container mt-5">
        <h2>DANH MỤC SẢN PHẨM</h2>
        <div>
            <h4 th:if="${cat.catId } != null" th:text="${cat.catId} + ' - ' + ${cat.catName}"></h4>
            <h4 th:unless="${cat.catId } != null"></h4>
            <div class=" mb-5">
                <a  th:href="@{/admin/category/add-category?catParentId=__${cat.catId}__}">
                    <button type="button" class="btn btn-primary">Thêm danh mục</button>
                </a>
            </div>

        </div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Tên danh mục</th>
                <th>Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c:${categories}">
                <td>
                    <a th:href="@{/admin/category(parent=${c.catId})}" th:text="${c.catId}"></a>
                </td>
                <td th:text="${c.catName}"></td>
                <td th:if="${c.catParent != null}" th:text="${c.catParent.catName}"></td>
                <td class="button"><a th:href="@{/admin/category/update-category/__${c.catId}__}">
                    <button class="btn btn-primary">Sửa
                    </button>
                </a>
                </td>
                <td class="button">
                    <button class="btn btn-danger btn-sm"
                            th:data-catId="${c.catId}"
                            th:data-parentId="${c.catParent}"
                            onclick="confirmDelete(this)">
                        <i class="fas fa-trash-alt"></i> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:src="@{/script/CategoryAdminScript.js}"></script>
</body>
</html>