<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:include="~{admin/fragment/head::head}"></head>
<style>
    .list-group {
        max-height: 100vh;
        overflow-y: auto;
    }
</style>
<body>
<div class="ui-menu-item-wrapper">
    <div th:include="~{admin/fragment/Menu::menu}"></div>

    <div class="container p-4 ">
        <h2>Danh sách mã màu</h2>
        <div class="mt-5 mb-3 d-flex flex-wrap justify-content-between">
            <a href="/admin/color/add-color">
                <button type="button" class="btn btn-primary">Thêm mã màu</button>
            </a>
        </div>

        <div class="list-group col-6 border p-2">
            <ul th:each="cl:${color}">
                <li>
                    <button class="align-items-center btn btn-danger btn-sm" th:id="${cl.colorId}"
                            onclick="confirmDelete(this.id)">
                        <i class="fas fa-trash-alt"></i> Delete
                    </button>
                    <span th:text="${cl.colorId} + ' - ' + ${cl.name}"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<script th:src="@{/script/ColorAdminScript.js}">
</script>
</body>
</html>