<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:include="~{admin/component/head::head}"></head>
<style>
    .list-group {
        max-height: 100vh;
        overflow-y: auto;
    }
</style>
<body>
<div class="ui-menu-item-wrapper">
    <div th:include="~{admin/component/Menu::menu}"></div>

    <div class="container p-4 ">
        <h2>Danh sách mã màu</h2>
        <div class="mt-5 mb-3 d-flex flex-wrap justify-content-between">
            <a href="/admin/color/add-color">
                <button type="button" class="btn btn-primary">Thêm mã màu</button>
            </a>
        </div>

        <div class="list-group col-6">
            <ul th:each="cl:${color}">
                <li class="list-group-item ">
                    <form th:action="@{/admin/color/delete-color?colorId=__${cl.colorId}__}" th:method="delete">
                        <button class="align-items-center btn btn-danger btn-sm" type="submit">
                            <i class="fas fa-trash-alt"></i>Xóa
                        </button>
                        <span th:text="${cl.colorId} + ' - ' + ${cl.name}"></span>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>