<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:include="~{admin/fragment/head::head}"></head>

<body>
<div class="ui-menu-item-wrapper">
    <div th:include="~{admin/fragment/Menu::menu}"></div>

    <div class="container mt-5">
        <h2>Danh sách sản phẩm</h2>
        <a href="/admin/product/add-product">
            <button type="button" class="btn btn-primary">Thêm sản phẩm</button>
        </a>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Tên sản phâm</th>
                <th>Trạng thái</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p:${products}">
                <td th:text="${p.productId}"></td>
                <td th:text="${p.productName}"></td>
                <td th:text="${p.isProductActive}==true ? 'Hoạt động' :'Đã ẩn'"></td>

                <td class="button"><a th:href="@{/admin/product/update-product/__${p.productId}__}">
                    <button class="btn btn-primary">Sửa
                    </button>
                </a>

                </td>
                <td class="button">
                    <button class="btn btn-danger btn-sm" th:id="${p.productId}"
                            onclick="confirmDelete(this.id)">
                        <i class="fas fa-trash-alt"></i> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:src="@{/script/ProductAdminScript.js}">
</script>
</body>
</html>