<!doctype html>
<html lang="en">

<head th:include="~{admin/component/head::head}"></head>

<body>
<div class="ui-menu-item-wrapper">
    <div class="bg-dark sidebar col-2" th:include="~{admin/component/Menu::menu}"
         style="min-height: 100vh;overflow-y: auto;"></div>

    <div class="content-admin p-4">
        <h1 class="fw-bold">THÊM ẢNH SẢN PHẨM</h1>
        <div class="mt-5 bg-white p-5 shadow border">
            <div class="a">
                <form th:action="@{/admin/imgProduct/add-img?productId=__${productId}__}" method="post"
                      th:object="${img}"
                      enctype="multipart/form-data">
                    <div class="mb-3 col-6">
                        <label for="fileImg" class="form-label">File ảnh<span>*</span></label>
                        <input class="form-control" type="file" id="fileImg" name="file" accept="video/*, image/*"
                               multiple required>
                    </div>

                    <button style="text-align: center" type="submit" class="col-2 btn btn-dark">Lưu ảnh</button>

                </form>
                <div id="select-background" class="bg mt-3">
                    <h4>Chọn ảnh nền</h4>
                    <select id="bg1" class="form-select" th:data-product-id="${productId}">
                        <option value="">Chưa chọn</option>
                        <option class="op1"
                                th:selected="${i.fileImg} == ${product.imageBackground}"
                                th:each="i : ${imgProducts}"
                                th:value="${i.fileImg}"
                                th:text="${i.fileImg}">
                        </option>
                    </select>

                    <div th:unless="${product.imageBackground.endsWith('.mp4')}  " class="mt-3">
                        <img width="100px" th:id="imgbg1"
                             th:src="@{'/admin/imgProduct?imageName='+${product.imageBackground}}" alt="">
                        <video width="150px" th:id="vdbg1" controls
                               class="hidden"
                               th:src="@{'/admin/imgProduct?imageName='+${product.imageBackground}}">
                        </video>
                    </div>

                    <div th:if="${product.imageBackground.endsWith('.mp4')}" class="mt-3">
                        <img width="100px" th:id="imgbg1"
                             class="hidden"
                             th:src="@{'/admin/imgProduct?imageName='+${product.imageBackground}}" alt="">
                        <video width="150px" th:id="vdbg1" controls
                               th:src="@{'/admin/imgProduct?imageName='+${product.imageBackground}}">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>

            <h2 class="m-5">Danh sách hình ảnh</h2>
            <div class="d-flex flex-wrap justify-content-start">
                <ul class="d-flex" th:each="i : ${imgProducts}">
                    <li th:unless="${i.fileImg.endsWith('.mp4')}">
                        <!-- Nếu là hình ảnh -->
                        <img width="250px" th:src="@{'/admin/imgProduct?imageName='+${i.fileImg}}" alt="Image">
                    </li>
                    <li th:if="${i.fileImg.endsWith('.mp4')}">
                        <!-- Nếu là video -->
                        <video width="250px" controls th:src="@{'/admin/imgProduct?imageName='+${i.fileImg}}">
                        </video>
                    </li>
                    <form th:action="@{/admin/imgProduct/delete?imageName=__${i.fileImg}__&productId=__${productId}__}"
                          th:method="delete">
                        <button class="btn btn-danger btn-sm" type="submit">
                            <i class="fas fa-trash-alt"></i>Xóa
                        </button>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/script/AdminScript/ImgProductScript.js}"></script>
</body>
</html>