<!doctype html>
<html lang="en">

<head th:include="~{admin/fragment/head::head}"></head>

<body>
<div class="ui-menu-item-wrapper">
    <div th:include="~{admin/fragment/Menu::menu}"></div>

    <div class="container p-4">
        <h2>THÊM ẢNH SẢN PHẨM</h2>
        <div class="a">
            <form th:action="@{/admin/imgProduct/add-img?productId=__${productId}__}" method="post" th:object="${img}"
                  enctype="multipart/form-data">
                <input id="productId" type="hidden" th:value="${productId}">
                <div class="mb-3 col-6">
                    <label for="fileImg" class="form-label">File ảnh<span>*</span></label>
                    <input type="file" id="fileImg" name="file" accept="image/*" multiple required>
                </div>

                <button style="text-align: center" type="submit" class="col-2 btn btn-primary">Lưu ảnh</button>

            </form>

            <div class="bg">
                <h4>Chọn nền 1</h4>
                <select id="bg1">
                    <option th:selected="${i.imgId} == ${imgbg1}"
                            th:each="i : ${imgProducts}"
                            th:value="${i.fileImg}"
                            th:text="${i.fileImg}">
                    </option>
                </select>
                <img width="50px" id="imgbg1" th:src="@{'/admin/imgProduct/'+${imgbg1Name}}">

                <h4>Chọn nền 2</h4>
                <select id="bg2">
                    <option th:selected="${i.imgId == imgbg2}"
                            th:each="i : ${imgProducts}"
                            th:value="${i.fileImg}"
                            th:text="${i.fileImg}">
                    </option>
                </select>
                <img width="50px" id="imgbg2" th:src="@{'/admin/imgProduct/'+${imgbg2Name}}">
            </div>
        </div>
        <h2>Danh sách hình ảnh</h2>
        <div class="d-flex flex-wrap justify-content-start">
            <ul class="d-flex" th:each="i : ${imgProducts}">
                <img width="250px"
                     th:src="@{'/admin/imgProduct/'+${i.fileImg}}"
                     alt="Image">
                <td class="button">
                    <button class="btn btn-danger btn-sm"
                            th:data-image-name="${i.fileImg}"
                            th:data-product-id="${productId}"
                            onclick="confirmDelete(this)">
                        <i class="fas fa-trash-alt"></i> Delete
                    </button>
                </td>
            </ul>
        </div>
    </div>
</div>
<script th:src="@{/script/ImgProductScript.js}"></script>
</body>
</html>