<!doctype html>
<html lang="en">

<head th:include="~{admin/fragment/head::head}"></head>
<style>
    .info-box{
        display: flex;
        margin: 10px 5px;
    }
    .filter{
        margin: 10px 5px;
    }
</style>
<body>
<div class="ui-menu-item-wrapper">
    <div th:include="~{admin/fragment/Menu::menu}"></div>

    <div class="container mt-5">
        <h2>DANH SÁCH ĐƠN HÀNG</h2>
        <div class="row">
            <button th:data-filter="-1" id="-1" class="filter btn-secondary btn col-md-2 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon"><i class="fa-2xl fa-solid fa-file-invoice-dollar"
                                                   style="color: #000000;"></i></span>
                    <div class="info-box-content">
                        <div class="info-box-text" >Tất cả đơn hàng</div>
                    </div>
                </div>
            </button>

            <button th:data-filter="0" id="0" class="filter btn-secondary btn col-md-2 col-sm-6 col-12">
                <div class="info-box ">
                    <span class="info-box-icon"><i class="fa-2xl fa-solid fa-xmark" style="color: #ff0000;"></i></span>
                    <div class="info-box-content">
                        <div class="info-box-text" >Đơn đã hủy</div>
                    </div>
                </div>
            </button>

            <button th:data-filter="1" id="1" class="filter btn-secondary btn col-md-2 col-sm-6 col-12">
                <div class="info-box">
                    <span
                            class="info-box-icon"><i class="fa-2xl fa-solid fa-cart-plus"
                                                     style="color: #005eff;"></i></span>
                    <div class="info-box-content">
                        <div class="info-box-text" >Đơn mới</div>
                    </div>
                </div>
            </button>

            <button th:data-filter="2" id="2" class="filter btn-secondary btn col-md-2 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon"><i class="fa-2xl fa-solid fa-check"
                                                   style="color: #00800f;"></i></span>
                    <div class="info-box-content">
                        <div class="info-box-text" >Đơn đã lên</div>
                    </div>
                </div>
            </button>

            <button th:data-filter="3" id="3" class="filter btn-secondary btn col-md-2 col-sm-6 col-12">
                <div class="info-box">
                    <span
                            class="info-box-icon"><i class="fa-2xl fa-solid fa-truck-fast" style="color: #ffc800;"></i></span>
                    <div class="info-box-content">
                        <div class="info-box-text" >Đơn đang giao</div>
                    </div>
                </div>
            </button>

            <button th:data-filter="4" id="4" class="filter btn-secondary btn col-md-2 col-sm-6 col-12">
                <div class="info-box ">
                    <span class="info-box-icon"><i class="fa-2xl fa-solid fa-circle-check"
                                                   style="color: #0045bd;"></i></span>
                    <div class="info-box-content">
                        <div class="info-box-text" >Đơn thành công</div>
                    </div>
                </div>
            </button>

            <button th:data-filter="5" id="5" class="filter btn-secondary btn col-md-2 col-sm-6 col-12">
                <div class="info-box ">
                    <span
                            class="info-box-icon"><i class="fa-2xl fa-solid fa-ban"
                                                     style="color: #ff0000;"></i></span>
                    <div class="info-box-content">
                        <div class="info-box-text">Đơn hoàn</div>
                    </div>
                </div>
            </button>


        </div>

        <form th:action="@{/admin/invoice/filter/__${filterStatus}__}" method="get">
            <label for="key">Tìm kiếm:</label>
            <input type="text" id="key" name="key" th:value="${#strings.isEmpty(searchKey) ? '' : searchKey}"
                   placeholder="Nhập SĐT hoặc mã đơn hàng...">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>

        <div>Tổng: <span th:text="${totalItems}" style="color:red"></span> đơn hàng</div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/admin/invoice/filter/__${filterStatus}__(page=${currentPage}-1,key=${key})}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                    <a class="page-link"
                       th:href="@{/admin/invoice/filter/__${filterStatus}__(page=${i >= 0 ? i : 0},key=${key})}"
                       th:text="${i + 1}"
                       th:class="${currentPage == i} ? 'page-link active' : 'page-link'"
                    ></a>
                </li>
                <li class="page-item" th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/admin/invoice/filter/__${filterStatus}__(page=${currentPage+1},key=${key})}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <table>
            <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th>Trạng thái</th>
                <th>Ngày đặt hàng</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="invoice:${invoice}">
                <td th:text="${invoice.invoiceId}"></td>
                <td th:text="${invoice.name}"></td>
                <td th:text="${invoice.phone}"></td>
                <td th:text="${invoice.invoiceStatus.status}"></td>
                <td th:text="${invoice.createdAt}"></td>
                <td><a
                        th:href="@{/admin/invoiceDetail?invoiceId=__${invoice.invoiceId}__}"><i
                        class="fa-regular fa-eye"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(()=>{
        if([[${filterStatus}]] === -1){
            $("#-1").removeClass("btn-secondary");
            $("#-1").addClass("btn-primary");
        }
        else if([[${filterStatus}]] === 0){
            $("#0").removeClass("btn-secondary");
            $("#0").addClass("btn-primary");
        }
        else if([[${filterStatus}]] === 1){
            $("#1").removeClass("btn-secondary");
            $("#1").addClass("btn-primary");
        }
        else if([[${filterStatus}]] === 2){
            $("#2").removeClass("btn-secondary");
            $("#2").addClass("btn-primary");
        }
        else if([[${filterStatus}]] === 3){
            $("#3").removeClass("btn-secondary");
            $("#3").addClass("btn-primary");
        }
        else if([[${filterStatus}]] === 4){
            $("#4").removeClass("btn-secondary");
            $("#4").addClass("btn-primary");
        }
        else if([[${filterStatus}]] === 5){
            $("#5").removeClass("btn-secondary");
            $("#5").addClass("btn-primary");
        }
    })

</script>
<script th:src="@{/script/InvoiceAdminScript.js}"></script>

</body>
</html>