<!doctype html>
<html lang="en">

<head th:include="~{admin/fragment/head::head}"></head>

<body>
<div class="ui-menu-item-wrapper">
    <div th:include="~{admin/fragment/Menu::menu}"></div>

    <div class="container p-4">
        <h2>Cập nhập tài khoản</h2>
        <form id="form" th:action="@{/admin/account/update-account}"
              th:object="${ac}">
            <input type="hidden" th:field="${account.accountId}">
            <input type="hidden" th:field="${account.password}">
            <div class="row">
                <div class="mb-3">
                    <label for="userName" class="form-label">Tài khoản<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="userName"
                           th:field="${account.userName}">
                </div>

                <div class="mb-3">
                    <label for="role" class="form-label">Quyền<span
                            style="color:red">*</span></label>
                    <select class="form-control" id="role" th:field="${account.role}">
                        <option th:each="role : ${roles}" th:value="${role}"
                                th:text="${role}"></option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="enabled" class="form-label">Trạng thái<span style="color:red">*</span></label>
                    <input id="enabled" type="checkbox" th:field="${account.enabled}">Hoạt động/Ẩn
                </div>

                <button style="text-align: center" type="button" id="button"  class="col-4 btn btn-primary">Sửa</button>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/script/UpdateAccountScript.js}"></script>
</body>
</html>