<!doctype html>
<html lang="en">

<head th:include="~{admin/component/head::head}"></head>

<style>
    #list-color,#list-size {
        max-height: 50vh;
        overflow-y: auto;
    }
</style>

<body>
<div class="ui-menu-item-wrapper">
    <div class="bg-dark sidebar col-2" th:include="~{admin/component/Menu::menu}"
         style="min-height: 100vh;overflow-y: auto;"></div>

    <div class="content-admin p-4">
        <h2>SỬA CHI TIẾT SẢN PHẨM</h2>
        <div class="mt-5 bg-white p-5 shadow border">
            <form id="form" th:action="@{/admin/productDetail/update-detail}" th:method="put"
                  th:object="${pd}">
                <input type="hidden" th:field="*{product.productId}">
                <div class="row">
                    <div class="mb-3">
                        <label for="product-detail-id" class="form-label">Mã chi tiết sản
                            phẩm<span style="color:red">*</span></label>
                        <input readonly type="text" class="readonly form-control" id="product-detail-id"
                               th:field="*{productDetailId}"/>
                    </div>

                    <div class="mb-3">
                        <label for="code" class="form-label">Code<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="code"
                               th:field="*{code}">
                        <span id="codeError" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="quantity" class="form-label">Số lượng<span>*</span></label>
                        <input type="text" class="form-control" id="quantity" th:field="*{quantity}">
                        <span id="quantityError" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="color" class="form-label">Màu<span
                                style="color:red">*</span>
                            <span data-bs-toggle="modal"
                                  data-bs-target="#modal-color">
                            <i class="fa-regular fa-square-plus"></i>
                            </span>
                        </label>
                        <select class="form-control" id="color" th:field="*{color.colorId}">
                            <option th:each="cl : ${colors}" th:value="${cl.colorId}"
                                    th:text="${cl.name} + ' - ' + ${cl.colorId}"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="size" class="form-label">Size<span
                                style="color:red">*</span>
                            <span data-bs-toggle="modal"
                                  data-bs-target="#modal-size">
                            <i class="fa-regular fa-square-plus"></i>
                            </span>
                        </label>
                        <select class="form-control" id="size" th:field="*{size.sizeId}">
                            <option th:each="s : ${sizes}" th:value="${s.sizeId}"
                                    th:text="${s.name}"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="isActive" class="form-label">Trạng thái<span style="color:red">*</span></label>
                        <input class="form-check-input" id="isActive" type="checkbox" th:field="*{productDetailActive}">Hoạt
                        động/Ẩn
                    </div>

                    <button style="text-align: center" type="submit" id="button" class="col-4 btn btn-primary">Sửa
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--     Modal-->
<div class="modal fade" id="modal-color" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div th:include="~{admin/modal/ModalColor::ModalColor}"></div>
</div>
<!--     Modal-->
<div class="modal fade" id="modal-size" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div th:include="~{admin/modal/ModalSize::ModalSize}"></div>
</div>


<script th:src="@{/script/AdminScript/UpdateProductDetaiScript.js}"></script>
</body>
</html>