<!doctype html>
<html lang="en">

<head th:include="~{admin/component/head::head}"></head>

<body>
<div class="ui-menu-item-wrapper">
    <div th:include="~{admin/component/Menu::menu}"></div>

    <div class="container p-4">
        <h2>Cập nhập tài khoản</h2>
        <form th:action="@{/admin/account/update-account}"
              th:object="${acc}" th:method="put">
            <input type="hidden" th:field="*{accountId}">
            <div class="row">
                <div th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" class="mb-3">
                    <label for="userName" class="form-label">Tài khoản<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="userName"
                           th:field="*{userName}">
                    <p th:if="${#fields.hasErrors('userName')}" class="text-danger" th:errors="*{userName}"></p>
                </div>

                <div th:unless="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" class="mb-3">
                    <label class="form-label">Tài khoản<span style="color:red">*</span></label>
                    <input readonly type="text" class="readonly form-control"
                           th:field="*{userName}">
                </div>

                <div th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" class="mb-3">
                    <label for="role" class="form-label">Quyền<span
                            style="color:red">*</span></label>
                    <select class="form-control" id="role" th:field="*{role}">
                        <option th:each="role : ${roles}" th:value="${role}"
                                th:text="${role}"></option>
                    </select>
                </div>

                <div th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}">
                    <label for="enabled" class="form-label">Trạng thái<span style="color:red">*</span></label>
                    <input id="enabled" type="checkbox"
                           class="form-check-input"
                           th:field="*{enabled}">Hoạt động/Không kích hoạt
                </div>
            </div>

            <div class="col-6 d-flex justify-content-between">
                <button th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" style="text-align: center"
                        type="submit" id="button" class="col-2 btn btn-primary">Lưu
                </button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        class=" btn btn-warning">Đổi mật khẩu
                </button>
                <button th:data-account-id="${account.accountId}"
                        id="reset-button"
                        class="btn btn-warning">Đặt lại mật khẩu
                </button>
            </div>
        </form>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thay đổi mật khẩu</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="oldPassword" class="form-label">Mật khẩu
                            cũ<span style="color:red">*</span></label>
                        <input type="password" class="form-control" id="oldPassword">
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Mật khẩu
                            mới<span style="color:red">*</span></label>
                        <input type="password" class="form-control" id="newPassword">
                    </div>
                    <div class="mb-3">
                        <label for="newPasswordAgain" class="form-label">Nhập lại
                            mật khẩu mới<span style="color:red">*</span></label>
                        <input type="password" class="form-control" id="newPasswordAgain">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button id="change-pw-btn" th:data-account-id="${account.accountId}" type="button"
                            class="btn btn-primary">Lưu thay
                        đổi</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script th:src="@{/script/AdminScript/UpdateAccountScript.js}"></script>

</body>
</html>