<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:include="~{web/component/head::head}"></head>
<style>
    .list-store{
        max-height: 200px;
        overflow-y: auto;
    }
</style>
<body>
<header th:include="~{web/component/header::header}"></header>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item">Hệ thống cửa hàng</li>
    </ol>
</nav>

<div class="container d-flex flex-wrap justify-content-between">
    <h2 class=" col-12 d-flex justify-content-center">Hệ thống cửa hàng</h2>
    <div class="border col-4 p-4">
        <h4>Tìm cửa hàng</h4>
        <div class="mb-3">
            <p>Chọn tỉnh thành</p>
            <select class="col-12" id="changeCity">
                <option th:each="city : ${cities}"
                        th:value="${city.cityId}"
                        th:text="${city.name}">
                </option>
            </select>
        </div>

        <div id="store-info" th:include="~{web/component/InfoStore::InfoStore}">
        </div>
    </div>

    <div id="api-map" class="border col-8" th:include="~{web/component/ApiMap::ApiMap}">

    </div>
</div>
<script>
    $(document).ready(()=>{
        $("#changeCity").change((select) =>{
            const cityId =  $(select.target).val();
            $.ajax({
                type: 'GET',
                url: '/address/store',
                data: {cityId:cityId},
                success:  (data) => {
                    $("#store-info").html(data);
                },
                error: (jqXHR) => {
                    alert(jqXHR.responseText)
                }
            });
        })
    })
</script>
</body>
</html>