<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:include="~{web/component/head::head}"></head>

<body>

<header th:include="~{web/component/header::header}"></header>

<div class="col-12 p-5 d-flex flex-wrap justify-content-between">
    <div th:if="${#lists.size(CARTS) > 0}" class="col-8">
        <h4 style="color:red">Giỏ hàng của bạn</h4>
        <div th:each="cart : ${CARTS}" class="p-2 d-flex align-items-center flex-wrap">
            <div>
                <a th:href="@{/carts/delete?prDetailCode=__${cart.code}__}">
                    <i class="fa-solid fa-x" style="color: red;"></i>
                </a>
            </div>
            <div class="border border-light-subtle p-2 d-flex align-items-center col-11 m-2">
                <img th:src="@{'/img?productId='+${cart.productId}+'&bg=1'}" alt="..." style="max-height: 150px"
                     class="img-thumbnail col-2">

                <div class=" m-3 w-100">
                    <div class="d-flex justify-content-between ">
                        <div>Tên sản phẩm: <span class="fw-bold" th:text="${cart.productName}"></span></div>
                        <div>
                            <span class="fw-light" th:text="${cart.color} + ' - ' "></span>
                            <span class="fw-light" th:text="${cart.size}"></span>
                        </div>
                    </div>
                    <div class="mt-3 d-flex">
                        <span>Giá tiền:</span>
                        <div th:if="${cart.discountPrice == null}">
                            <span th:text="${cart.price}"
                                  th:id="${cart.code} + '-price'"
                                  class="fw-bold">
                            </span>
                        </div>

                        <div th:unless="${cart.discountPrice == null}">
                            <span th:text="${cart.price} + 'đ'" style="text-decoration: line-through;"></span>
                            <span th:id="${cart.code} + '-price'" th:text="${cart.discountPrice}"></span>
                        </div>
                    </div>
                    <div class="mt-3">Số lượng:
                        <input class="quantity col-1"
                               type="number"
                               th:data-prDetail="${cart.code}"
                               th:value="${cart.quantity}"
                               min="1" max="99">
                    </div>
                    <div class="mt-3">Tổng:
                        <span th:if="${cart.discountPrice == null}" th:id="${cart.code} + 'P'" th:text="${cart.quantity * cart.price}"
                              class="text-danger fw-bold"></span>
                        <span th:unless="${cart.discountPrice == null}" th:id="${cart.code} + 'P'"
                        th:text="${cart.quantity * cart.discountPrice}"
                              class="text-danger fw-bold"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${#lists.size(CARTS) > 0}" class="col-8">
        <h4 style="color:red">Giỏ hàng của bạn</h4>
        <p>Bạn chưa có sản phẩm nào trong giỏ hàng</p>
    </div>

    <div class="col-4 border p-2">
        <h4 class="border-bottom p-2">Thông tin đơn hàng</h4>
        <div id="info">
            <div class="d-flex justify-content-between p-2">
                <span>Tổng tiền:</span>
                <h4 id="total" class="fw-bold" th:text="${totalPrice}"></h4>
            </div>
            <div class="d-flex justify-content-between p-2">
                <span>Phí ship:</span>
                <span id="shippingFee" class="fw-bold" th:text="${shippingFee}"></span>
            </div>
            <div class="d-flex justify-content-between p-2">
                <span>Tổng đơn:</span>
                <h4 id="totalBill" style="color: red" class="fw-bold" th:text="${totalPrice + shippingFee}"></h4>
            </div>

        </div>

    </div>
    <div class="d-flex flex-column align-items-center col-6 p-2 m-3">
        <h4 class="border-bottom p-2">Thông tin người nhận</h4>
        <form id="form" th:action="@{/checkout}" method="post">
            <div class="row">
                <div class="mb-3">
                    <label for="name" class="form-label">Họ Tên<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>

                <div class="mb-3">
                    <label th:for="phone" class="form-label">Số điện thoại<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="phone" name="phone">
                </div>

                <div class="mb-3">
                    <label th:for="address" class="form-label">address<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="address" name="address">
                </div>

                <div class="mb-3">
                    <label th:for="customerNote" class="form-label">Lời nhắn của bạn<span style="color:red">*</span></label>
                    <textarea class="form-control" id="customerNote" name="customerNote"></textarea>
                </div>

                <button style="text-align: center" type="button" id="btn-submit" class="col-2 btn btn-primary">Đặt
                    hàng</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(() => {
        $(".quantity").change(function (input) {
            const prDetailCode = input.target.getAttribute("data-prDetail");
            const quantity = $(input.target).val();
            const price = $("#" + prDetailCode + "-price").text()
            const totalPrice = quantity * price;
            console.log(price)
            $("#" + prDetailCode + "P").text(totalPrice);
            $.ajax({
                type: 'GET',
                data: {prDetailCode: prDetailCode, quantity: quantity},
                url: '/carts/update',
                success: (data) => {
                    $("#info").html(data)
                },
                error: (jqXHR) => {
                    alert(jqXHR.responseText)
                }
            });
        })

        $("#btn-submit").click(()=>{
            const result = confirm("Bạn chắc chắn muốn đặt hàng chứ?");
            if (result){
                if ($("#name").val() === "" ||
                    $("#phone").val() === "" || isNaN($("#phone").val()) ||
                    $("#address").val() === ""){
                    alert("Nhập sai hoặc thiếu thông tin")
                }else {
                    const totalPrice = $("#total").text();
                    const shippingFee = $("#shippingFee").text();
                    const totalBill = $("#totalBill").text();
                    const formData = $('#form').serializeArray(); // Lấy dữ liệu form
                    formData.push({ name: 'totalPrice', value: totalPrice });
                    formData.push({ name: 'shippingFee', value: shippingFee });
                    formData.push({ name: 'totalBill', value: totalBill });

                    const url = $('#form').attr('action'); // Lấy URL của form
                    const csrfToken = $("meta[name='_csrf']").attr("content");
                    const csrfHeader = $("meta[name='_csrf_header']").attr("content");
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: formData,
                        beforeSend: function (xhr) {
                            // Sử dụng tên HTTP header chuẩn và giá trị token
                            xhr.setRequestHeader(csrfHeader, csrfToken);
                        },
                        success:  (data) => {
                            alert("Đặt hàng thành công!")
                            window.location.href="/checkout?invoiceId="+data;
                        },
                        error: (jqXHR) => {
                            alert(jqXHR.responseText)
                        }
                    });
                }

            }

        })
    })
</script>
</body>
</html>