<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:include="~{web/component/head::head}"></head>

<body>

<header th:include="~{web/component/header::header}"></header>

<div class="container col-12 m-3 d-flex justify-content-between">
    <div th:if="${cartItem} == null" class="col-6">
        <h4 style="color:red">Giỏ hàng của bạn</h4>
        <p>Bạn chưa có sản phẩm nào trong giỏ hàng</p>
    </div>
    <div th:unless="${cartItem} == null" class="col-6">
        <h4 style="color:red">Giỏ hàng của bạn</h4>
        <p>Bạn chưa có sản phẩm nào trong giỏ hàng</p>
    </div>
    <div class="col-4 border p-2">
        <h4 class="border-bottom p-2">Thông tin đơn hàng</h4>
        <div class="d-flex justify-content-between p-2">
            <span>Tổng tiền:</span>
            <h4 style="color: red" class="fw-bold">0đ</h4>
        </div>
    </div>
</div>
</body>
</html>