<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:include="~{web/component/head::head}"></head>
<link rel="stylesheet" th:href="@{/css/webCSS/category.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<style>
    .irs-bar  {
        background-color: black!important; /* Màu nền của thanh trượt */
    }

</style>
<body>

<header th:include="~{web/component/header::header}"></header>
<div th:replace="~{web/component/Breadcrumb::Breadcrumb}"></div>

<div class="col-12 d-flex mb-5" style="min-height: 30vh">

    <div class="d-flex flex-wrap container-xl p-0 ">
        <div class="col-3 bg-light p-3 align-self-start">

            <h4 class="fw-bold">Bộ lọc</h4>

            <div class="mt-5">
                Sắp xếp theo:
                <select class="form-control" id="filter" th:data-cat-id="${catId}" th:data-key="${key}">
                    <option value="" th:selected="${filter == null or filter == ''}">--Chọn--</option>
                    <option value="name-up" th:selected="${filter == 'name-up'}">Sắp xếp theo tên tăng dần</option>
                    <option value="name-down" th:selected="${filter == 'name-down'}">Sắp xếp theo tên giảm dần</option>
                    <option value="price-up" th:selected="${filter == 'price-up'}">Sắp xếp theo giá tăng dần</option>
                    <option value="price-down" th:selected="${filter == 'price-down'}">Sắp xếp theo giá giảm dần</option>
                </select>
            </div>

            <div class="mt-5 mb-3">Chọn khoảng giá:
                <input type="text" class="form-control" id="priceRange" name="price_range" />
                <div class="d-flex justify-content-between mt-3">
                    <div>Từ:<strong id="minPrice"></strong></div>
                    <div>Đến:  <strong id="maxPrice"></strong></div>

                </div>
            </div>

        </div>

        <div id="list-product" class="col-9" th:include="~{web/component/ListProduct::ListProduct}"></div>
    </div>
</div>
<script th:inline="javascript">
    $("#priceRange").ionRangeSlider({
        type: "double",
        min: 0,
        max: 3000000,
        from: [[${minPrice}]],
        to: [[${maxPrice}]],
        postfix: " vnđ",
        onChange: function (data) {
            $("#minPrice").text(' ' + (data.from).toLocaleString('vi-VN') + ' vnđ');
            $("#minPrice").val(data.from);
            $("#maxPrice").text(' ' + (data.to).toLocaleString('vi-VN') + ' vnđ');
            $("#maxPrice").val((data.to));

        },
        onFinish:function (data){
            const filter = $("#filter").val()
            const catId = $("#filter").attr("data-cat-id")
            const key = $("#filter").attr("data-key")
            $.ajax({
                url: '/category/filter',
                type: 'GET',
                data: {filter:filter,minPrice:data.from,maxPrice:data.to,catId:catId,key:key},
                success: function (response) {
                    $("#list-product").html(response)
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi
                }
            });
        }
    });
</script>
<div th:replace="~{web/component/Footer::Footer}"></div>
<script th:src="@{/script/WebScript/CategoryScript.js}"></script>
</body>
</html>