<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:include="~{web/component/head::head}"></head>
<link rel="stylesheet" th:href="@{/css/webCSS/category.css}"/>

<body>

<header th:include="~{web/component/header::header}"></header>

<div th:replace="~{web/component/Breadcrumb::Breadcrumb}"></div>

<div class="col-12 d-flex justify-content-center" style="min-height: 30vh">

    <div class="d-flex flex-wrap container justify-content-between">
        <div th:each="pr : ${products}" class="shadow card hover col-3 m-3">
            <div class="card  position-relative">
                <div th:each="img : ${imgBackground1List}"
                     class="product-image-bg1"
                     th:data-product-id="${pr.productId}">
                    <img th:if="${img.product.productId == pr.productId and !img.fileImg.endsWith('.mp4')}"
                         th:src="@{'/img?productId='+${pr.productId}+'&bg=1'}" alt="..."
                         style="height: 400px;width: 100%">
                    <video th:if="${img.product.productId == pr.productId and img.fileImg.endsWith('.mp4')}"
                           style="height: 400px;width: 100%" controls
                           th:src="@{'/img/list?fileImg='+${img.fileImg}}"
                           ></video>
                </div>

                <div th:each="img : ${imgBackground2List}"
                     th:data-product-id="${pr.productId}"
                     class="product-image-bg2 hidden">
                    <img th:if="${img.product.productId == pr.productId and !img.fileImg.endsWith('.mp4')}"
                         th:src="@{'/img?productId='+${pr.productId}+'&bg=2'}" alt="..."
                         style="height: 400px;width: 100%">
                    <video th:if="${img.product.productId == pr.productId and img.fileImg.endsWith('.mp4')}"
                           style="height: 400px;width: 100%" controls
                           th:src="@{'/img/list?fileImg='+${img.fileImg}}"></video>
                </div>
                <a th:href="@{/products/__${pr.productId}__}">
                    <button
                            class="btn btn-primary add-to-cart-btn">Chi tiết sản phẩm
                    </button>
                </a>
            </div>

            <div class="card-body">
                <div class="d-flex justify-content-between">
                                <span th:text="'+'+ ${pr.totalColor}+' Màu sắc'" class="fw-light"
                                      style="font-size:14px"></span>
                    <span th:text="'+' +${pr.totalSize}+ ' Kích thước'" class="fw-light"
                          style="font-size:14px"></span>
                </div>
                <h5 class="card-title mt-2" th:text="${pr.productName}"></h5>
                <div th:if="${pr.isDiscount == true}">
                        <span th:text="${#numbers.formatDecimal(pr.price, 0, 'POINT', 0, 'POINT')} +' đ'"
                              style="text-decoration-line: line-through"></span>
                    <span th:text="${#numbers.formatDecimal(pr.discountPrice, 0, 'POINT', 0, 'POINT')} +' đ'"
                          style="color: red;font-weight: bold"></span>
                </div>
                <div th:unless="${pr.isDiscount == true}">
                        <span th:text="${#numbers.formatDecimal(pr.price, 0, 'POINT', 0, 'POINT')} +' đ'"
                              style="color: red;font-weight: bold"></span>
                </div>
            </div>
        </div>
        <nav th:if="${totalItems >= 1}" aria-label="Page navigation" class="col-12">
            <ul class="pagination">
                <li class="page-item" th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/category/__${cat.catId}__(page=${currentPage}-1)}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:href="@{/category/__${cat.catId}__(page=${i >= 1 ? i : 1})}"
                       th:text="${i}"
                       th:class="${currentPage == i} ? 'page-link active' : 'page-link'"
                    ></a>
                </li>
                <li class="page-item"
                    th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/category/__${cat.catId}__(page=${currentPage +1})}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div th:replace="~{web/component/Footer::Footer}"></div>
<script th:src="@{/script/WebScript/CategoryScript.js}"></script>
</body>
</html>