<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:include="~{web/component/head::head}"></head>
<link rel="stylesheet" th:href="@{/css/webCSS/home.css}"/>
<body>
<header th:include="~{web/component/header::header}"></header>

<!-------------------------slide banner---------------------->
<section class="position-relative">
    <div id="banner-slider">
        <div th:each="banner : ${banner}">
            <img th:src="@{'/img?fileImg='+${banner.fileName}}" alt="Image">
        </div>
    </div>
    <div class="slick-prev slick-prev-slide p-3 ps-4 pe-4 rounded-circle bg-white position-absolute translate-middle-y start-0 top-50">
        <i class=" fa-solid fa-chevron-left "></i>
    </div>
    <div class="slick-next slick-next-slide position-absolute translate-middle-y end-0 top-50 p-3 ps-4 pe-4 rounded-circle bg-white">
        <i class=" fa-solid fa-chevron-right "></i>
    </div>
</section>

<!-------------------------Category---------------------->
<section style="margin-top:100px">
    <div class="container-xl ">
        <h2 class="fw-bold mb-5">DANH MỤC SẢN PHẨM</h2>
        <div class="position-relative">
            <div id="category-slider">
                <div th:each="cat : ${categoryF2}" class="shadow-sm me-3 position-relative">
                    <img th:src="@{'/img?fileImg='+${cat.catBackground}}" style="width: 100%;height: 450px"
                         alt="Image">
                    <div class=" col-12 p-3 bg-white position-absolute bottom-0 bg-opacity-50 d-flex justify-content-between align-items-center">
                        <h4 th:text="${cat.catName}"></h4>
                        <a th:href="@{/category/__${cat.catId}__}"><i
                                class="bg-white rounded-circle p-2 fa-solid fa-arrow-right-to-bracket fa-1x"></i></a>
                    </div>
                </div>
            </div>
            <div class="slick-prev slick-prev-cat position-absolute" style="top:-50px;right: 50px; cursor: pointer;">
                <i class="fa-solid fa-arrow-left fa-1x"></i>
            </div>
            <div class="slick-next slick-next-cat  position-absolute end-0" style="top:-50px; cursor: pointer">
                <i class="fa-solid fa-arrow-right fa-1x"></i>
            </div>
        </div>
    </div>
</section>

<!-------------------------SALE---------------------->
<section class="mt-5 pt-5" style="background-color: #faefec">
    <div class=" container-xl d-flex align-items-center">
        <img src="/image/fire-icon-new.png" alt="" width="40px">

        <h2 class=" ms-3 fw-bold text-danger">TẾT NHẤT SALE TẤT</h2>
    </div>
    <div class="position-relative container-xl">
        <div id="sale-slider">
            <div th:each="pr : ${productSale}" class="shadow card hover col-3 m-3 position-relative">
                <div class="card  position-relative" style="height: 400px">

                    <div th:if="${pr.isDiscount}"
                         style="z-index: 2;background-color: red;width:50px"
                         class="position-absolute top-0 start-0 text-white rounded-pill m-2 fw-bold d-flex justify-content-center"
                         th:text="'-'+${pr.discountPercent} +'%'">
                    </div>

                    <img th:unless="${pr.imageBackground.endsWith('.mp4')}"
                         th:src="@{'/img?fileImg='+ ${pr.imageBackground }}" alt="..."
                         style="height: 400px;width: 100%"
                         th:data-product-id="${pr.productId}">
                    <video th:if="${pr.imageBackground.endsWith('.mp4')}"
                           style="height: 400px;width: 100%" controls autoplay muted
                           th:src="@{'/img?fileImg='+ ${pr.imageBackground}}"
                           th:data-product-id="${pr.productId}"></video>

                    <a style="width: 80%" th:href="@{/products/__${pr.productId}__}"
                       class="btn btn-dark border-white shadow fw-bold add-to-cart-btn">Chi tiết sản phẩm
                    </a>
                </div>

                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <span th:text="'+'+ ${pr.totalColor}+' Màu sắc'" class="fw-light"
                              style="font-size:14px"></span>
                        <span th:text="'+' +${pr.totalSize}+ ' Kích thước'" class="fw-light"
                              style="font-size:14px"></span>
                    </div>
                    <h5 class="card-title mt-2" th:text="${pr.productName}"></h5>
                    <div th:if="${pr.isDiscount == true}">
                        <span th:text="${#numbers.formatDecimal(pr.price, 0, 'POINT', 0, 'POINT')} +' đ'"
                              style="text-decoration-line: line-through"></span>
                        <span th:text="${#numbers.formatDecimal(pr.discountPrice, 0, 'POINT', 0, 'POINT')} +' đ'"
                              style="color: red;font-weight: bold"></span>
                    </div>
                    <div th:unless="${pr.isDiscount == true}">
                        <span th:text="${#numbers.formatDecimal(pr.price, 0, 'POINT', 0, 'POINT')} +' đ'"
                              style="color: red;font-weight: bold"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-prev slick-prev-sale position-absolute" style="top:-50px;right: 50px; cursor: pointer;">
            <i class="fa-solid fa-arrow-left fa-1x"></i>
        </div>
        <div class="slick-next slick-next-sale  position-absolute end-0" style="top:-50px; cursor: pointer">
            <i class="fa-solid fa-arrow-right fa-1x"></i>
        </div>
    </div>

    <div class=" d-flex justify-content-center">
        <a href="/category/sale"
           class="btn-sale btn mt-5 mb-5 pt-2 pb-2 bg-white border border-black rounded d-flex justify-content-center"><span>Xem tất cả</span><span
                class="fw-bold" style="margin-left: 3px">TẾT NHẤT SALE TẤT</span> </a>
    </div>
</section>

<section class="py-5">
    <div class="container-xxl">
        <div class=" row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                <div class="d-flex">
                    <div class="me-3 align-self-center">
                        <img class=" lazyloaded"
                             data-src="//theme.hstatic.net/200000690725/1001078549/14/home_policy_icon_1.png?v=281"
                             src="//theme.hstatic.net/200000690725/1001078549/14/home_policy_icon_1.png?v=281"
                             alt="Miễn phí vận chuyển">
                    </div>
                    <div class="align-self-center">
                        <b>Miễn phí vận chuyển</b>
                        <div>Áp dụng cho mọi đơn hàng từ 500k</div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                <div class="d-flex">
                    <div class="me-3 align-self-center">
                        <img class=" ls-is-cached lazyloaded"
                             data-src="//theme.hstatic.net/200000690725/1001078549/14/home_policy_icon_2.png?v=281"
                             src="//theme.hstatic.net/200000690725/1001078549/14/home_policy_icon_2.png?v=281"
                             alt="Đổi trả dễ dàng">
                    </div>
                    <div class="align-self-center">
                        <b>Đổi trả dễ dàng</b>
                        <div>7 ngày đổi trả vì bất kì lí do gì</div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                <div class="d-flex">
                    <div class="me-3 align-self-center">
                        <img class=" lazyloaded"
                             data-src="//theme.hstatic.net/200000690725/1001078549/14/home_policy_icon_3.png?v=281"
                             src="//theme.hstatic.net/200000690725/1001078549/14/home_policy_icon_3.png?v=281"
                             alt="Hỗ trợ nhanh chóng">
                    </div>
                    <div class="align-self-center">
                        <b>Hỗ trợ nhanh chóng</b>
                        <div>HOTLINE 24/7 : 0364100196</div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                <div class="d-flex">
                    <div class="me-3 align-self-center">
                        <img class=" ls-is-cached lazyloaded"
                             data-src="//theme.hstatic.net/200000690725/1001078549/14/home_policy_icon_4.png?v=281"
                             src="//theme.hstatic.net/200000690725/1001078549/14/home_policy_icon_4.png?v=281"
                             alt="Thanh toán đa dạng">
                    </div>
                    <div class="align-self-center">
                        <b>Thanh toán đa dạng</b>
                        <div>Thanh toán khi nhận hàng, Napas, Visa, Chuyển Khoản</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div th:replace="~{web/component/Footer::Footer}"></div>

<script th:src="@{/script/WebScript/HomeScript.js}"></script>
</body>
</html>