<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:include="~{web/component/head::head}"></head>

<body>

<header id="header" th:include="~{web/component/header::header}"></header>
<div th:replace="~{web/component/Breadcrumb::Breadcrumb}"></div>

<div class="container-xl" style="min-height: 50vh">
    <div class="d-flex flex-column align-items-center p-5   ">
        <h2>Cập nhập tài khoản</h2>
        <div class="my-5 bg-white p-5 shadow border">
            <form id="form-update-info" th:action="@{/info-account/update-account(accountId=${acc.accountId})}"
                  th:object="${acc}" th:method="post">
                <input type="hidden" th:field="*{accountId}">
                <div class="row">
                    <div th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" class="mb-3 col-6">
                        <label class="form-label">Tên đăng nhập<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="user-name"
                               th:field="*{userName}">
                        <span id="username-error" class=" text-danger"></span>
                    </div>

                    <div th:unless="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" class="mb-3 col-6">
                        <label class="form-label">Tên đăng nhập<span style="color:red">*</span></label>
                        <div th:text="${acc.userName}" class="form-control readonly"></div>
                    </div>

                    <div class="mb-3 col-6">
                        <label class="form-label">Họ và tên<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="name"
                               th:field="*{name}">
                        <span id="name-error" class=" text-danger"></span>
                    </div>


                    <div class="mb-3 col-6">
                        <label class="form-label">Số điện thoại<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="phone"
                               th:field="*{phone}">
                        <span id="phone-error" class=" text-danger"></span>
                    </div>

                    <div class="mb-3 col-6">
                        <label class="form-label">Email<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="email"
                               th:field="*{email}">
                        <span id="email-error" class=" text-danger"></span>
                    </div>

                    <div class="mb-3 col-6">
                        <label class="form-label">Địa chỉ<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="address"
                               th:field="*{address}">
                        <span id="address-error" class=" text-danger"></span>
                    </div>

                </div>

                <div class="col-6 d-flex justify-content-start">
                    <button style="text-align: center"
                            type="submit" id="button" class="col-2 btn btn-dark me-3">Lưu
                    </button>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#modal-change-pass"
                            class=" btn btn-warning">Đổi mật khẩu
                    </button>
                </div>
            </form>
        </div>

        <div class="modal fade" id="modal-change-pass" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div th:include="~{web/modal/ModalChangePass::ModalChangePass}"></div>
        </div>
    </div>
</div>

<div th:replace="~{web/component/Footer::Footer}"></div>
<script th:src="@{/script/WebScript/InfoAccountScript.js}"></script>
</body>

</html>