<!DOCTYPE html>
<html lang="en">
<head th:include="~{web/component/head::head}"></head>
<body>
<header th:include="~{web/component/header::header}"></header>

<div class="container-xl justify-content-center align-items-center d-flex flex-column"
     style="min-height:50vh">
    <h4 class="fw-bold">Đăng nhập khách hàng</h4>

    <div class="col-6 mt-4">
        <form id="form" th:action="@{/login(page=customer)}" method="post">
            <div class=" mb-3">
                <input id="username" type="text" class="form-control" placeholder="Tên đăng nhập"
                       name="username">
                <div id="usernameError" class="text-danger"></div>
            </div>
            <div>
                <input id="password" type="password" class="form-control" placeholder="Mật khẩu"
                       name="password">
                <div id="passwordError" class="text-danger"></div>
            </div>
            <div class="d-flex justify-content-between">
                <a href="#" class="fw-light fst-italic text-decoration-underline link-opacity-100-hover"
                   style="font-size:0.8rem" data-bs-toggle="modal"
                   data-bs-target="#modal-forgot-password">Quên mật khẩu?
                </a>
                <a href="#" class="link-primary btn-link">Đăng ký tài khoản</a>
            </div>
            <span th:if="${error}" th:text="${error}" id="error" style="color: red"></span>

            <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-dark btn-block">Đăng nhập</button>
            </div>

        </form>
    </div>
</div>

<div th:replace="~{web/component/Footer::Footer}"></div>

</body>
</html>
