<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:include="~{web/component/head::head}"></head>

<body>

<header th:include="~{web/component/header::header}"></header>
<div th:replace="~{web/component/Breadcrumb::Breadcrumb}"></div>

<div class="col-12" style="min-height: 30vh">
    <div class="container-xxl mb-5">
        <div class="heading-pageDetail "><h4>Chính sách bảo mật</h4></div>
        <div class="content-pageDetail typeList-style mt-5">
            <h1 class="fw-bold mb-5">BẢO MẬT THÔNG TIN KHÁCH HÀNG TORANO</h1>
            <div th:replace="~{web/component/PrivatePolicy::PrivatePolicy}"></div>
        </div>
    </div>
</div>
<div th:replace="~{web/component/Footer::Footer}"></div>
</body>
</html>