<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:include="~{web/fragment/head::head}"></head>
<body>

<header th:include="~{web/fragment/header::header}"></header>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<div class="mainWrapper--content">
    <div class="layout-collections">
        <div class="header-banner">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item " aria-current="page">
                        <a
                                th:href="@{/category/__${product.category.catId}__}"
                                th:text="${product.category.catName}">
                        </a>
                    </li>
                    <li class="breadcrumb-item" th:text="${product.productName}">
                    </li>
                </ol>
            </nav>
        </div>

        <div class="container d-flex">
            <!-- slide -->
            <div class="a-product-slider col-3 justify-content-center">
                <div class="a-item" th:each="img : ${imgProducts}">
                    <img th:src="@{/products/img?fileImg=__${img.fileImg}__}" class="d-block"
                         style="max-height: 50vh;border: 1px solid"
                         alt="...">
                </div>
            </div>

            <div style="border: 1px solid" class="col-9 p-3">
                <h4 th:text="${product.productName}"></h4>
                <div th:include="~{web/fragment/productDetail::productDetail}"></div>
                <div style="background-color: #d9d7d7" class="p-3"><span>Giá:  <span th:text="${product.price}"
                                                                                     class="text-danger fw-bold"></span></span>
                </div>
                <div class="p-3">
                    <form action="" id="form">
                        <div class="d-flex align-items-center">
                            <div>Màu sắc:</div>
                            <div th:each="color, status : ${colors}">
                                <label th:text="${color.name}"
                                       th:data-color-id="${color.colorId}"
                                       class="color m-2 border p-2"
                                       th:classappend="${status.index == 0} ? 'bg-success' : ''">
                                    <input type="radio" name="color"
                                           th:value="${color.colorId}"
                                           th:id="${color.colorId}"
                                           th:checked="${status.index == 0}"
                                           class="hidden"/>
                                </label>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div>Size:</div>
                            <div th:each="size, status : ${sizes}">
                                <label th:text="${size.name}"
                                       th:data-color-id="${size.sizeId}"
                                       class="size m-2 border p-2"
                                       th:classappend="${status.index == 0} ? 'bg-success' : ''">
                                    <input type="radio" name="size"
                                           th:value="${size.sizeId}"
                                           th:id="${size.sizeId}"
                                           th:checked="${status.index == 0}"
                                           class="hidden"/>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.a-product-slider').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 5000,
            infinite: true,
            arrows: false,
            responsive: [
                {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 3
                    }
                }
            ]
        });

        $('.color').click(function () {
            // Loại bỏ lớp 'bg-success' từ tất cả các label
            $('.color').removeClass('bg-success');

            // Thêm lớp 'bg-success' cho label được bấm vào
            $(this).addClass('bg-success');

            // Tìm input con và thay đổi trạng thái checked
            var input = $(this).find('input[name="color"]');
            input.prop('checked', true);
        });

        $('.size').click(function () {
            // Loại bỏ lớp 'bg-success' từ tất cả các label
            $('.size').removeClass('bg-success');

            // Thêm lớp 'bg-success' cho label được bấm vào
            $(this).addClass('bg-success');

            // Tìm input con và thay đổi trạng thái checked
            var input = $(this).find('input[name="size"]');
            input.prop('checked', true);
        });
    });
</script>
</body>
</html>