<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:include="~{web/component/head::head}"></head>

<body>

<header th:include="~{web/component/header::header}"></header>
<div th:replace="~{web/component/Breadcrumb::Breadcrumb}"></div>

<div class="container-xxl mb-5">
    <div class="wrapper-pageDetail">
        <div class="heading-pageDetail"><h1 class="fw-bold">Chính sách đổi trả</h1></div>
        <div th:replace="~{web/component/ReturnPolicy::ReturnPolicy}"></div>
    </div>
</div>

<div th:replace="~{web/component/Footer::Footer}"></div>
</body>
</html>