<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:include="~{web/component/head::head}"></head>
<style>
    #store-info {
        max-height: 400px;
        overflow-y: auto;
        overflow-scrolling: unset;
    }
</style>
<body>
<header th:include="~{web/component/header::header}"></header>

<div th:replace="~{web/component/Breadcrumb::Breadcrumb}"></div>

<h2 class=" col-12 d-flex justify-content-center">Hệ thống cửa hàng</h2>

<div id="map" class="container" style="min-height: 30vh">
    <div th:replace="~{web/component/Map::Map}"></div>
</div>

<div th:replace="~{web/component/Footer::Footer}"></div>

</body>
</html>