.add-to-cart-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;
    transition: all 0.3s;
    opacity: 0;
}

.card:hover .add-to-cart-btn {
    opacity: 1;
    transition: all 0.3s;
    top: 80%;
}


.card{
    overflow: hidden;
}

.card img {
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1); /* Phóng to ảnh khi hover */
}


