.f2{
    opacity: 0;
    transition: margin-top 0.3s,opacity 0.3s;
    margin-top: 20px;
    z-index: -1;
}
.f1:hover .f2 {
    margin-top: 0;
    opacity: 1;
    z-index: 1000!important;
}

#navbarSupportedContent{
    display: flex;
    justify-content: start;
}
a{
    text-decoration-line: none;
    color: black;
}

#position{
    position: relative;
}
#number{
    position: absolute;
    top: -20%;
    right: -10%;
    color: white;
    background-color: red;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 0.6rem;
}