.slick-dots {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 10px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: whitesmoke;
    border-radius: 50%;
    opacity: 0.5;
}

.slick-dots li.slick-active button {
    background: #000; /* Màu của dấu chấm khi được chọn */
    opacity: 1;
}

.slick-prev-slide:hover, .slick-next-slide:hover {
    background-color: black !important;
    color: white;
}

.slick-prev-slide,
.slick-next-slide {
    opacity: 0;
    transition: all 0.3s; /* Thêm hiệu ứng chuyển đổi cho background-color và color */
}

.position-relative:hover .slick-prev-slide {
    left: 50px!important;
    opacity: 1;
}
.position-relative:hover .slick-next-slide{
    right: 50px!important;
    opacity: 1;
}
.add-to-cart-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;
    transition: all 0.3s;
    opacity: 0;
}

.card:hover .add-to-cart-btn {
    opacity: 1;
    transition: all 0.3s;
    top: 80%;
}
.product-image-bg1 {
    transition: opacity 0.5s; /* Thêm hiệu ứng chuyển đổi cho opacity */
    opacity: 1;
}

.product-image-bg1:hover {
    opacity: 0; /* Ẩn ảnh mặc định khi hover vào */
}
.product-image-bg2 {
    transition: opacity 0.5s; /* Thêm hiệu ứng chuyển đổi cho opacity */
    opacity: 0;
}

.product-image-bg2:hover {
    opacity: 1; /* Ẩn ảnh mặc định khi hover vào */
}

.btn-sale{
    transition: all 0.5s;
}
.btn-sale:hover{
    background-color: black!important;
    color: white;
}