@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", sans-serif;
    font-size: 0.95rem;
}
.ui-menu-item-wrapper{
    display: flex;
}

.active{
    background-color: #5b5bd4;
    color: white;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th,td{
    text-align: center;
    width: auto;
    border: 1px solid black;
}

.hidden{
    display: none!important;
}

.readonly{
    background-color: #c4c4c4;
}

li:hover{
    cursor: pointer;
}
li{
    list-style-type: none;
}

a{
    text-decoration-line: none;
    color: black;
}

.disable{
    background-color: grey;
}

#logout:hover{
    background-color: #c4c4c4;
    border-radius: 100%;
    padding: 5px;
}
