<div th:fragment="ModalSize">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Thêm mã màu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-size" th:action="@{/admin/size/add-size}" method="post" th:object="${size}">
                    <div class="row d-flex justify-content-center">
                        <div class="mb-3 col-6">
                            <label for="size-id" class="form-label">Mã size<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="size-id" th:field="*{sizeId}">
                            <span id="size-id-error" class="text-danger"></span>
                        </div>

                        <div class="mb-3 col-6">
                            <label for="size-name" class="form-label">Tên size<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="size-name" th:field="*{name}">
                            <span id="size-name-error" class="text-danger"></span>
                        </div>

                        <button type="button" id="btn-size"
                                class="col-4 btn btn-primary">Thêm mã size
                        </button>
                        <div th:if="${message != null}">
                            <span th:if="${message == 'Mã size đã tồn tại'}" th:text="${message}"
                                  class="text-danger"></span>
                            <span th:unless="${message == 'Mã size đã tồn tại'}" th:text="${message}"
                                  class="text-success"></span>
                        </div>

                    </div>
                </form>
                <ul th:if="${sizes != null}"   id="list-size" class="mt-3">
                    <li th:each="size :${sizes}" class="mt-3">
                        <button class=" delete btn btn-danger" th:data-id="${size.sizeId}">Xóa</button>
                        <span th:text="${size.sizeId} + ' - ' + ${size.name}"
                              class="fw-bold">
                        </span>
                        <div th:id="'size-error-' + ${size.sizeId}" class="text-danger"></div>
                    </li>

                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class=" btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
    <script>
        function updateListSize(){
            $.ajax({
                type: 'GET',
                url: '/admin/size/list-size',
                success: (data) => {
                    $("#size").html(data)
                },
                error: (jqXHR) => {
                    alert(jqXHR.responseText)
                }
            });
        }
        $(document).ready(() => {
            const csrfToken = $("meta[name='_csrf']").attr("content");
            const csrfHeader = $("meta[name='_csrf_header']").attr("content");
            $(".delete").click((btn) => {
                const sizeId = $(btn.target).attr("data-id");
                $.ajax({
                    type: 'DELETE',
                    url: '/admin/size/delete-size',
                    data: {sizeId: sizeId},
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },
                    success: (data) => {
                        $("#modal-size").html(data);
                        updateListSize();
                    },
                    error: (jqXHR) => {
                        $("#size-error-"+sizeId).text("Không thể xóa");
                    }
                });
            })
            $("#btn-size").click(() => {
                let validation = true

                if ($("#size-id").val() === ""){
                    $("#size-id-error").text("Chưa nhập mã size")
                    validation = false
                }else {
                    $("#size-id-error").text("")
                }

                if($("#size-name").val() === ""){
                    $("#size-name-error").text("Chưa nhập tên màu")
                    validation = false
                }else {
                    $("#size-name-error").text("")
                }

                if (validation){
                    const formData = $('#form-size').serializeArray(); // Lấy dữ liệu form
                    const url = $('#form-size').attr('action');
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: formData,
                        beforeSend: function (xhr) {
                            // Sử dụng tên HTTP header chuẩn và giá trị token
                            xhr.setRequestHeader(csrfHeader, csrfToken);
                        },
                        success: (data) => {
                            $("#modal-size").html(data);
                            updateListSize();
                        },
                        error: (jqXHR) => {
                            alert("Không thể thêm")
                        }
                    });
                }
            })
        })
    </script>
</div>