
<div th:fragment="Breadcrumb" class=" pb mb-5 fw-light" style="background-color: #f5f5f5">
    <nav class="container">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item "><a href="/">Trang chủ</a></li>
            <li th:if="${product != null}" class="breadcrumb-item ">
                <a th:href="@{/category/__${product.category.catId}__}"
                   th:text="${product.category.catName}">
                </a>
            </li>
            <li class="breadcrumb-item " th:text="${title}">
            </li>
        </ol>
    </nav>
</div>