<header th:fragment="header">

    <div th:include="~{web/modal/ModalAlert::ModalAlert}"></div>
    <nav class=" pb-2 pt-2 bg-body-tertiary position-relative shadow-sm d-flex">
        <div class="container-xl d-flex justify-content-between">
            <div class="col-2">
                <a href="/"><img src="/image/logo.png" style="width: 100%" alt=""></a>
            </div>

            <ul class=" align-self-end d-flex col-5 justify-content-between">
                <li class="align-self-end f1">
                    <a class="text-dark  fw-bold" aria-current="page" th:href="@{/category/sale}"
                       th:text="Sale"></a>
                </li>
                <th:block th:with="f3Displayed=false"></th:block>

                <!--            f1-->
                <li th:each="c1:${categoriesF1}" class="f1  justify-content-between ">
                    <a class="text-dark nav-link fw-bold" aria-current="page"
                       th:href="@{/category/__${c1.catId}__}"
                       th:text="${c1.catName}"></a>

                    <!--                đệm để di chuột xuống f2-->
                    <div id="f2" class="pb-4 hidden  position-absolute start-50 translate-middle-x col-8"
                         style="z-index: 999">
                    </div>

                    <!--                f2-->
                    <div class="d-flex flex-wrap f2 pt-3 pb-3 border bg-white position-absolute start-50 top-100 translate-middle-x col-12 rounded-bottom shadow justify-content-around">
                        <div th:if="${categoriesF2 != null} and ${c2.catParent.catId == c1.catId}"
                             th:each="c2:${categoriesF2}">
                            <a th:href="@{/category/__${c2.catId}__}" th:text="${c2.catName}"
                               class="text-dark  fw-bold"></a>

                            <!--                        f3-->
                            <div th:each="c3:${categoriesF3}" class="mt-3"
                                 th:if="${c3.catParent.catId == c2.catId} ">
                                <th:block th:unless="${f3Displayed}">
                                    <a th:href="@{/category/__${c3.catId}__}" th:text="${c3.catName}"
                                       class="text-dark "></a>
                                    <th:block th:with="f3Displayed=true"></th:block>
                                </th:block>
                            </div>


                        </div>
                    </div>

                </li>

                <li class=" f1">
                    <a class="text-dark  fw-bold" aria-current="page" th:href="@{/store}">Hệ thống
                        cửa hàng</a>
                </li>
            </ul>

            <div class="align-self-center col-2">
                <form id="search-form" th:action="@{/category/search}" class="d-flex">
                    <div class="input-group ">
                        <input type="text" class="form-control" id="search-input" name="key" placeholder="Tìm kiếm">
                        <button class="btn border" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>

                </form>
            </div>

            <div class="align-self-center d-flex">
                <a class="position-relative btn btn-outline-dark align-self-center" href="/carts">
                    <i class="fa-solid fa-cart-shopping">
                        <span th:if="${number == 0}"></span>
                        <span th:unless="${number == 0}" th:text="${number}"
                              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"></span>
                    </i>
                </a>
                <div class="ms-3 d-flex" th:if="${account != null}">
                    <div class="d-flex flex-column ">
                        <span>Xin chào, </span>
                        <span th:text="${account.userName} + '!'" class="me-2"></span>
                    </div>
                    <form th:id="form-logout" th:action="@{/logout}" method="post"
                          class="align-self-center">
                        <i id="logout" class="fa-solid fa-arrow-right-from-bracket" style="padding: 5px;"></i>
                    </form>
                </div>

                <div th:unless="${account != null}" class="btn-group ms-3" role="group">
                    <div class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown"
                         aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="dropdown-menu p-3 start-0 top-100 translate-middle-x mt-2" style="width: 400px; z-index:9999">
                        <div class="fw-bold">Đăng nhập</div>
                        <form id="form-login" th:action="@{/login}" method="post" class="mt-3">
                            <input type="text" name="username" id="name" class="form-control" style="font-size: 0.8rem"
                                   placeholder="Tên đăng nhập">
                            <input type="password" name="password" id="password" class="form-control mt-3"
                                   style="font-size: 0.8rem" placeholder="Mật khẩu">
                            <div class="d-flex justify-content-between col-12">
                                <a href="#" class=" fst-italic text-decoration-underline link-opacity-80-hover"
                                   style="font-size:0.8rem" data-bs-toggle="modal"
                                   data-bs-target="#modal-forgot-password">Quên mật khẩu?
                                </a>
                                <a href="#" class="link-primary btn-link">Đăng ký tài khoản</a>
                            </div>
                            <button class="btn btn-dark mt-3">Đăng nhập</button>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </nav>

    <div class="modal fade" id="modal-forgot-password" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div th:include="~{admin/modal/ModalForgotPassword::ModalForgotPassword}"></div>
    </div>

    <script>
        $(document).ready(() => {
            $("#form-login").attr("action", "/login?url=" + encodeURIComponent(window.location.pathname));
            $("#form-logout").attr("action", "/logout?url=" + encodeURIComponent(window.location.pathname));

            $("#search-form").submit(() => {
                let validation = true
                if ($("#search-input").val() === "") {
                    $("#search-input").addClass("border-danger")
                    validation = false
                }
                return validation;
            })

            $("#logout").click(() => {
                $("#form-logout").submit()
            })
        })
    </script>
</header>