
<div th:fragment="menu" class="navbar-expand-lg navbar-dark bg-dark"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <ul>
        <li><a href="/admin">Trang chủ</a></li>
        <li><a href="/admin/product">Quản lý Sản phẩm</a></li>
        <li><a href="/admin/category">Quản lý danh mục Sản phẩm</a></li>
        <li><a href="/admin/invoice/filter/-1?key=">Quản lý đơn hàng</a></li>
        <div>
            <div sec:authorize="isAuthenticated()">
                Welcome, <span sec:authentication="name"></span>!
            </div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Đăng xuất">
            </form>
        </div>
    </ul>
</div>