<div th:fragment="SearchProduct">
    <ul class="list-group" th:if="${search != null} " th:each="result :${search}">
        <li th:data-product-detail-id="${result.productDetailId}"
            th:data-invoice-id="${invoiceId}"
            class="result list-group-item" style="display: flex">
            <img class="img-thumbnail" width="50px"
                 th:src="@{'/admin/invoiceDetail/img/'+${result.product.productId}}">
            <div>
                <span th:if="${result.outOfStock == true}"
                        th:text="${result.product.productName} + ' | ' +  ${result.size.name} + ' | ' +  ${result.color.name}"></span>
                <span th:unless="${result.outOfStock == true}"
                      th:text="${result.product.productName} + ' | ' +  ${result.size.name} + ' | ' +  ${result.color.name}"
                      style="text-decoration: line-through;"></span>
                <div class="d-flex justify-content-between">
                    <div th:if="${result.product.isDiscount == true}">
                                        <span th:text="${result.product.price} + 'đ'"
                                              style="text-decoration: line-through;">
                                        </span>
                        <span th:text="${result.product.discountPrice} + 'đ'" style="color:red"></span>
                    </div>
                    <span th:unless="${result.product.isDiscount == true}"
                          th:text="${result.product.price} + 'đ'" style="color:red">
                    </span>

                    <span class="fw-lighter" th:text="'Số lượng: '+${result.quantity}"></span>
                </div>
            </div>
        </li>
    </ul>

    <script>
        $(document).ready(() => {
            $(".result").on("click", function () {
                var productDetailId = $(this).attr("data-product-detail-id")
                var invoiceId = $(this).attr("data-invoice-id")
                console.log(invoiceId)
                console.log(productDetailId)
                $.ajax({
                    type: 'POST',
                    url: "/admin/invoiceDetail/addProductInvoiceDetail",
                    data: {productDetailId:productDetailId,invoiceId:invoiceId},
                    success: function () {
                        location.reload()

                    },
                    error: function (error) {
                        console.log(error)
                    }
                });
            });
        })
    </script>
</div>