@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
}

.content-admin{
    background-color: whitesmoke;
    width: 100%;
    min-height: 100vh;
}
.menu{
    max-height: 100vh;
    overflow-y: auto;
}
.ui-menu-item-wrapper{
    display: flex;
}


.hidden{
    display: none;
}

.readonly{
    background-color: #c4c4c4;
    border: #c4c4c4;
}

li:hover{
    cursor: pointer;
}
li{
    list-style-type: none;
}
