<header th:fragment="header" >
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/image/logo.png" style="width: 200px"></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"
                    th:each="c1:${categoriesF1}">
                    <li class="nav-item">
                        <a class="nav-item" aria-current="page" th:href="@{/category/sale}" th:text="Sale"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" aria-current="page" th:href="@{/category/__${c1.catId}__}" th:text="c1.catName"></a>
                        <ul th:if="categoriesF2 != null" th:each="c2:${categoriesF2}" class="dropdown-menu">
                            <li>
                                <a th:href="@{/category/__${c2.catId}__}" th:text="c2.catName" class="dropdown-item"></a>
                                <ul th:if="categoriesF3 != null" th:each="c2:${categoriesF3}" class="dropdown-menu">
                                    <li>
                                        <a th:href="@{/category/__${c3.catId}__}" th:text="c3.catName" class="dropdown-item"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>