<div th:fragment="SelectSize" class="d-flex align-items-center" id="selectSize">
    <div>Size:</div>
    <div th:each="pd, status : ${productDetails}">
        <label th:if="${pd.quantity > 0}"
               th:text="${pd.size.name}"
               th:data-size-id="${pd.size.sizeId}"
               th:data-product-id="${productId}"
               class="size m-2 border p-2"
               >
            <input type="radio" name="size"
                   th:value="${pd.size.sizeId}"
                   th:id="${pd.size.sizeId}"
                   th:checked="${status.index == 0}"
                   class="hidden"/>
        </label>
        <label th:unless="${pd.quantity > 0}"
               th:text="${pd.size.name}"
               th:data-size-id="${pd.size.sizeId}"
               th:data-product-id="${productId}"
               class="m-2 border p-2 disable">
            <input type="radio" name="size"
                   th:value="${pd.size.sizeId}"
                   th:id="${pd.size.sizeId}"
                   th:checked="${status.index == 0}"
                   class="hidden"/>
        </label>
    </div>
    <script>
        $('.size').click(function (event) {
            // Loại bỏ lớp 'bg-success' từ tất cả các label
            $('.size').removeClass('bg-success text-light checkedSize');

            // Thêm lớp 'bg-success' cho label được bấm vào
            $(this).addClass('bg-success text-light checkedSize');

            // Tìm input con và thay đổi trạng thái checked
            var input = $(this).find('input[name="size"]');
            input.prop('checked', true);

            var colorId = $(".checkedColor").data("color-id");
            var sizeId = event.currentTarget.getAttribute("data-size-id");
            var productId = event.currentTarget.getAttribute("data-product-id");
            console.log(colorId)
            console.log(sizeId)
            console.log(productId)

            $.ajax({
                type: 'GET',
                url: "/products/detail",
                data: {colorId: colorId, sizeId: sizeId, productId: productId},
                success: function (data) {
                    $("#detail").html(data)
                },
                error: (jqXHR) => {
                    alert(jqXHR.responseText)
                }
            });
        });
    </script>
</div>