<div th:fragment="ModalForgotPassword">
    <div class="modal fade" id="ModalForgotPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Quên mật khẩu</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>Nhập email của bạn:</div>
                    <input id="input-mail" type="text" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class=" btn btn-dark" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
