<div th:fragment="ListInvoice">
    <div class="col-12 mt-3 mb-3 d-flex justify-content-between align-items-center">
        <a class="btn btn-primary" id="btnAddInvoice" href="/admin/invoice/add">Tạo đơn hàng</a>
        <div id="search" class="input-group" style="width: 500px">
            <input type="text" id="key" th:value="${key}" name="key" class="form-control"
                   placeholder="Nhập SĐT hoặc mã đơn hàng...">
            <button id="button-search" type="button" class="btn btn-outline-primary">Tìm kiếm</button>
        </div>
        <nav aria-label=" Page navigation">
            <div>Tổng: <span th:text="${totalItems}" style="color:red"></span> đơn hàng</div>
            <ul class="pagination">
                <li class="page-item" th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       aria-label="Previous"
                       id="previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:data-page="${i >= 0 ? i : 0}"
                       th:text="${i + 1}"
                       th:class="${currentPage == i} ? 'page-link active number' : 'number page-link'"
                    ></a>
                </li>
                <li th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       aria-label="Next"
                       id="next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <table id="table"
           th:data-filterStatus="${filterStatus}"
           th:data-selectAccount="${selectAccount}"
           th:data-currentPage="${currentPage}"
           th:data-key="${key}"
           class="table table-striped table-hover table-bordered border">
        <thead>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Tên khách hàng</th>
            <th>Số điện thoại</th>
            <th>Trạng thái</th>
            <th>Ngày đặt hàng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice:${invoice}">
            <td th:text="${invoice.invoiceId}"></td>
            <td th:text="${invoice.name}"></td>
            <td th:text="${invoice.phone}"></td>
            <td th:text="${invoice.invoiceStatus.status}"></td>
            <td th:text="${#temporals.format(invoice.createdAt, 'HH:mm:ss dd/MM/yyyy')}"></td>
            <td th:if="${invoice.account !=null}" th:text="${invoice.account.userName}"></td>
            <td th:unless="${invoice.account !=null}">Chưa chia đơn</td>
            <td th:if="${invoice.account != null}"><a
                    th:href="@{/admin/invoiceDetail?invoiceId=__${invoice.invoiceId}__&accountId=__${invoice.account.accountId}__}"><i
                    class="fa-regular fa-eye"></i>
            </a>
            </td>
            <td th:unless="${invoice.account != null}"><a
                    th:href="@{/admin/invoiceDetail?invoiceId=__${invoice.invoiceId}__&accountId=1}"><i
                    class="fa-regular fa-eye"></i>
            </a>
            </td>

        </tr>
        </tbody>
    </table>

    <script>
        $(document).ready(() => {
            const filterStatus = $("#table").attr("data-filterStatus")
            const selectAccount = $("#table").attr("data-selectAccount")
            const currentPage = parseInt($("#table").attr("data-currentPage"), 10);
            const key = $("#table").attr("data-key")
            $("#previous").click(() => {
                let page = currentPage - 1;
                $.ajax({
                    type: 'GET',
                    url: "/admin/invoice/change-list-invoice",
                    data: {selectAccount: selectAccount, filterStatus: filterStatus, page: page, key: key},
                    success: (data) => {
                        $("#list-invoice").html(data)
                    },
                    error: (jqXHR) => {
                        alert(jqXHR.responseText)
                    }
                });
            })
            $(".number").click((event) => {
                let page = $(event.target).attr("data-page")
                $.ajax({
                    type: 'GET',
                    url: "/admin/invoice/change-list-invoice",
                    data: {selectAccount: selectAccount, filterStatus: filterStatus, page: page, key: key},
                    success: (data) => {
                        $("#list-invoice").html(data)
                    },
                    error: (jqXHR) => {
                        alert(jqXHR.responseText)
                    }
                });
            })
            $("#next").click(() => {
                let page = currentPage + 1;
                $.ajax({
                    type: 'GET',
                    url: "/admin/invoice/change-list-invoice",
                    data: {selectAccount: selectAccount, filterStatus: filterStatus, page: page, key: key},
                    success: (data) => {
                        $("#list-invoice").html(data)
                    },
                    error: (jqXHR) => {
                        alert(jqXHR.responseText)
                    }
                });
            })

            $("#button-search").click(() => {
                const key = $('#key').val();
                $.ajax({
                    type: 'GET',
                    url: "/admin/invoice/change-list-invoice",
                    data: {selectAccount: selectAccount, filterStatus: filterStatus, key: key},
                    success: (data) => {
                        $("#list-invoice").html(data)
                    },
                    error: (jqXHR) => {
                        alert(jqXHR.responseText)
                    }
                });
            })
            $(".filter").each(function () {
                const id = $(this).attr("id");
                $(this).removeClass("active")
                if (filterStatus === id) {
                    $(this).addClass("active");
                }
            })
        })
    </script>
</div>