<div th:fragment="ListInvoice">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <button class="btn btn-primary" id="btnAddInvoice">Tạo đơn hàng</button>
        <form th:action="@{/admin/invoice/filter/__${filterStatus}__}" method="get">
            <label for="key">Tìm kiếm:</label>
            <input type="hidden" name="selectAccount" th:value="${selectAccount}">
            <input type="hidden" name="accountId" th:value="${account.accountId}">
            <input type="text" id="key" name="key" th:value="${#strings.isEmpty(searchKey) ? '' : searchKey}"
                   placeholder="Nhập SĐT hoặc mã đơn hàng...">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>

        <div>Tổng: <span th:text="${totalItems}" style="color:red"></span> đơn hàng</div>
        <nav aria-label="col-4 d-flex Page navigation">
            <ul class="pagination">
                <li class="page-item" th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/admin/invoice/filter/__${filterStatus}__(page=${currentPage}-1,key=${key},accountId=${account.accountId},selectAccount=${selectAccount})}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                    <a class="page-link"
                       th:href="@{/admin/invoice/filter/__${filterStatus}__(page=${i >= 0 ? i : 0},key=${key},accountId=${account.accountId},selectAccount=${selectAccount})}"
                       th:text="${i + 1}"
                       th:class="${currentPage == i} ? 'page-link active' : 'page-link'"
                    ></a>
                </li>
                <li class="page-item"
                    th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/admin/invoice/filter/__${filterStatus}__(page=${currentPage+1},key=${key},accountId=${account.accountId},selectAccount=${selectAccount})}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <table>
        <thead>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Tên khách hàng</th>
            <th>Số điện thoại</th>
            <th>Trạng thái</th>
            <th>Ngày đặt hàng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice:${invoice}">
            <td th:text="${invoice.invoiceId}"></td>
            <td th:text="${invoice.name}"></td>
            <td th:text="${invoice.phone}"></td>
            <td th:text="${invoice.invoiceStatus.status}"></td>
            <td th:text="${#temporals.format(invoice.createdAt, 'HH:mm:ss dd/MM/yyyy')}"></td>
            <td th:if="${invoice.account !=null}" th:text="${invoice.account.userName}"></td>
            <td th:unless="${invoice.account !=null}">Chưa chia đơn</td>
            <td th:if="${invoice.account != null}"><a
                    th:href="@{/admin/invoiceDetail?invoiceId=__${invoice.invoiceId}__&accountId=__${invoice.account.accountId}__}"><i
                    class="fa-regular fa-eye"></i>
            </a>
            </td>
            <td th:unless="${invoice.account != null}"><a
                    th:href="@{/admin/invoiceDetail?invoiceId=__${invoice.invoiceId}__&accountId=1}"><i
                    class="fa-regular fa-eye"></i>
            </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>