<div th:fragment="Map">
    <div th:each="store : ${stores}" class="border d-flex mt-5">
        <div class="m-3">
            <i class="fa-solid fa-location-dot"></i>
        </div>
        <div>
            <div th:text="${store.name}" class="mt-3"></div>
            <div th:text="${store.address}" class="mt-3"></div>
            <div class="mt-3">Thời gian hoạt động: <span th:text="${store.time}" class="fw-bold"></span>
            </div>
            <div class="mt-3">Số điện thoại: <span th:text="${store.phone}" class="fw-bold"></span></div>
            <button class="btn btn-primary mt-3 mb-3 view-map" th:data-store-api="${store.api}">Xem bản đồ</button>
            <button class="btn btn-danger delete" th:data-id="${store.id}">Xóa</button>
        </div>
    </div>

<script>
    $(document).ready(() => {
        $(".view-map").click(function (btn) {
            const api = $(btn.target).attr("data-store-api")
            console.log(api)
            $.ajax({
                type: 'GET',
                url: '/store/map',
                data: {api: api},
                success: (data) => {
                    $("#map-api").attr("src", data);
                },
                error: (jqXHR) => {
                    alert(jqXHR.responseText)
                }
            });
        })

        $(".delete").click(function (btn) {
            const id = $(btn.target).attr("data-id")
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                type: 'DELETE',
                url: '/admin/store/delete',
                data: {id: id},
                beforeSend: function (xhr) {
                    // Sử dụng tên HTTP header chuẩn và giá trị token
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: () => {
                    alert("đã xóa")
                    window.location.reload();
                },
                error: (jqXHR) => {
                    alert(jqXHR.responseText)
                }
            });
        })

    })
</script>

</div>