
<div th:fragment="menu"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="col-4">
    <ul class="list-group">
        <li class="list-group-item list-group-item-action" id="home" >Trang chủ</li>
        <li th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" class=" list-group-item list-group-item-action" id="product">Quản lý Sản phẩm</li>
        <li th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" class=" list-group-item list-group-item-action" id="category">Quản lý danh mục Sản phẩm</li>
        <li  class=" list-group-item" id="invoice" th:data-accountId="${account.accountId}">Quản lý đơn hàng</li>
        <li th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" class=" list-group-item list-group-item-action" id="color">Quản lý mã màu</li>
        <li th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}"  class=" list-group-item list-group-item-action" id="account">Quản lý tài khoản</li>
        <li th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}"  class=" list-group-item list-group-item-action" id="store">Quản lý cửa hàng</li>
        <div class="m-3" th:if="${account != null}">
            <div class="mb-3">
                Xin chào, <span th:text="${account.userName}"></span>! <a th:href="@{'/admin/account/update-account?accountId=' + ${account.accountId}}" ><i class="fa-regular fa-eye"></i></a>
            </div>
            <form th:action="@{/logout}" method="post">
                <input class="btn btn-primary" type="submit" value="Đăng xuất">
            </form>
        </div>
    </ul>
    <div th:include="~{admin/component/ModalAlert::ModalAlert}"></div>


    <script th:inline="javascript">
        $(document).ready(()=>{

            $("#home").click(() => {
                window.location.href= "/admin"
            })
            $("#product").click(() => {
                window.location.href= "/admin/product"
            })
            $("#category").click(() => {
                window.location.href= "/admin/category?parent="
            })
            $("#invoice").click(() => {
                window.location.href= "/admin/invoice?accountId="+ [[${account.accountId}]];
            })
            $("#color").click(() => {
                window.location.href= "/admin/color"
            })
            $("#account").click(() => {
                window.location.href= "/admin/account"
            })
            $("#store").click(() => {
                window.location.href= "/admin/store"
            })


            if([[${title}]] === "Home"){
                $("#home").addClass("active");
                $("#home a").addClass("text-light")
            }
            else if([[${title}]] === "Product"){
                $("#product").addClass("active");
                $("#product a").addClass("text-light")
            }
            else if([[${title}]] === "Category"){
                $("#category").addClass("active");
                $("#category a").addClass("text-light")
            }
            else if([[${title}]] === "Invoice"){
                $("#invoice").addClass("active");
                $("#invoice a").addClass("text-light")
            }
            else if([[${title}]] === "Color"){
                $("#color").addClass("active");
                $("#color a").addClass("text-light")
            }
            else if([[${title}]] === "Account"){
                $("#account").addClass("active");
                $("#account a").addClass("text-light")
            }
            else if([[${title}]] === "Store"){
                $("#store").addClass("active");
                $("#store a").addClass("text-light")
            }
        })
    </script>

</div>