<div th:fragment="menu">
        <ul class="fixed-top list-group col-2 p-3 menu">
            <li class="p-3 text-light menu-item" th:data-id="home">Trang chủ</li>
            <li th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" class="p-3 text-light menu-item" th:data-id="product">Quản
                lý Sản phẩm
            </li>
            <li th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" class="p-3 text-light menu-item" th:data-id="category">
                Quản lý danh mục Sản phẩm
            </li>
            <li class="p-3 text-light menu-item" th:data-id="invoice">Quản lý đơn hàng</li>
            <li th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" class="p-3 text-light menu-item" th:data-id="color">Quản
                lý mã màu
            </li>
            <li th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" class="p-3 text-light menu-item" th:data-id="account">Quản
                lý tài khoản
            </li>
            <li th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" class="p-3 text-light menu-item" th:data-id="store">Quản
                lý cửa hàng
            </li>
            <li th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" class="p-3 text-light menu-item" th:data-id="banner">Quản
                lý ảnh banner
            </li>
            <li th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}"
                class=" p-3 text-light menu-item"
                th:data-id="feedback" >
                <div class="position-relative">Phản hồi khách hàng<span th:if="${countUnread > 0}"
                                              class="position-absolute top-0 end-0 translate-middle badge rounded-pill bg-danger"
                                              th:text="${countUnread}"></span></div>

            </li>
            <li th:if="${#strings.equals(account.role.name(), 'ROLE_MANAGER')}" class="p-3 text-light menu-item" th:data-id="email">Gửi email cho khách hàng
            </li>
            <div class="m-3" th:if="${account != null}">
                <div class="mb-3" style="color:white">
                    Xin chào, <span th:text="${account.userName}"></span>! <a
                        th:href="@{'/admin/account/update-account?accountId=' + ${account.accountId}}"><i
                        class="fa-regular fa-eye" style="color:white"></i></a>
                </div>
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-danger" type="submit" value="Đăng xuất">
                </form>
            </div>
        </ul>
    <div th:include="~{admin/component/ModalAlert::ModalAlert}"></div>


    <script th:inline="javascript">
        $(document).ready(() => {
            $(".menu-item").click(function() {

                const id = $(this).attr("data-id")
                if (id === "account") {
                    window.location.href = "/admin/invoice?accountId=" + [[${account.accountId}]];
                }else {
                    window.location.href = "/admin/" + id;
                }
            })

            $(".menu-item").each((index, item) => {
                const title = [[${title}]]
                if (title.toLocaleString().toLowerCase() === $(item).attr("data-id")) {
                    $(item).addClass("bg-dark-subtle text-dark rounded-4");
                }
            })
        })
    </script>

</div>